{% load staticfiles %}

<div class="banner white-main" >
  <ul class="banner-orbit" data-orbit data-options="slide_number:false;
  animation:slide;
  pause_on_hover:false;
  animation_speed:1200;
  animation_speed:3000;
  timer_speed: 10000;
  navigation_arrows:false;">
  <li class="elemento_banner" style="background-image: url('{% static "img/landing.png" %}');">
    <div class="row ">
      <div class="small-2 large-2 columns "><br></div>
      <div class="small-8 large-8 columns ">
        <h1 class="antonio-regular txt48">Apoya la producción cultural.<br> Colabora en proyectos donde se requieran de tus habilidades.</h1>
      </div>
      <div class="small-2 large-2 columns "><br></div>
    </div>
  </li>
  <li class="elemento_banner" style="background-image: url('{% static "img/banner_imagen_1.png" %}');">
    <div class="row ">
      <div class="small-2 large-2 columns "><br></div>
      <div class="small-8 large-8 columns ">
        <h1 class="antonio-regular txt41">Lleva a cabo tus producciones culturales.<br> Publica tus proyectos y busca colaboradores.</h1>
      </div>
      <div class="small-2 large-2 columns "><br></div>
    </div>
  </li>
</ul>
</div>
